</main>
<footer class="bg-gray-800 text-white text-center py-4">Copyright © <%= new Date().getFullYear() %>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/note.js"></script>
</body>

</html>