<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <title>BookHub</title>
</head>

<body class="bg-gray-50 text-gray-800 font-sans flex flex-col min-h-screen">
    <header class="bg-amber-200 p-4">
        <nav class="flex justify-between items-center">

            <a class="text-2xl font-semibold" href="/">Home</a>
            <a class="text-lg" href="/new">Add a Book</a>

        </nav>
    </header>
    <main class="flex-grow p-4">