<%- include('partials/header') %>
    <h1>BookHub</h1>
    <p>Have a look at the books I've read so far</p>

    <!-- List of Books -->
    <div class="box">
        <% for(let i=0; i < books.length; i++) { %>
            <div class="book">
                <h2>
                    <%= books[i].title %>
                </h2>
                <img src='<%= bookCoverUrls[i] %>' alt="" srcset="">
            </div>
            <% } %>
    </div>

    <%- include('partials/footer') %>